
/*

---------------------------------------
--------- HOME PAGE START -------------
---------------------------------------

*/

body, html {
    height: 100vh;
}

/* LOGO START */
.logo {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f4f4f4;
}
/* LOGO END */


/* --- MENU NAVBAR  START*/

.navbar {
    padding-top: 13px;
    padding-bottom: 13px;


    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 3px;
}

.navbar-nav  li a {
    font-weight: bold;
    font-size: medium;
    color: #373737 !important;
}

.navbar-nav  li a:hover {
    background-color: #373737 !important;
    color: #f4f4f4 !important;
    border-radius: 25px;

    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    transition:color .2s ease-out, background 1s ease-in;
}

@media only screen and (min-width : 1200px) {
    .divider-vertical {
        height: 50px;
        margin: 0 9px;
        background-color: #A8A8A8;
        border-left: 1px solid #A8A8A8;
        border-right: 1px solid #A8A8A8;
    }

}

/* toto mi zabezpecuje aby ked je mesnia obrazovka ako 1200px sa mi collapsol navbar */
@media only screen and (max-width : 1200px) {

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}


#myNavbar {
    padding-left: 5%;
    padding-right: 5%;
}

/* --- MENU NAVBAR  FINISH*/

body {
    font: 20px Verdana, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 16px;}

.margin {margin-bottom: 45px;}

.bg-1 {
    background-color: #373737;
    color: #ffffff;
}
.bg-2 {
    background-color: #f4f4f4;
    color: #555555;
}
.bg-3 {
    background-color: #373737;
    color: #555555;
}

.sectionHeader {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 30px;
}

.sectionBody {
    margin-left: 30%;
    margin-right: 30%;
}

.blackHR {
    border-top: 1px solid #555555;
}


/* FOOTER START */
.footer{
    background-color: #2f2f2f;
    border-top: 2px solid #c71610;
    font: 20px Verdana, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

.gmail {
    color: #c71610;
}

.home-block {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* FOOTER END */


/*

---------------------------------------
--------- HOME PAGE END -------------
---------------------------------------

*/

/*

---------------------------------------
--------- LOGIN START -------------
---------------------------------------

*/

.login {
    background-color: 	#f4f4f4;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 50%;
    transform: translate(-50%, 0px);
    color: #373737;
    -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
}

.card-header {
    padding-bottom: 3%;
    font-weight: bold;
    font-size: 50px;

}

.remember {
    transform: translate(-40px, 0px);
}

.submit-button {
    padding-bottom: 10px;
}

/*
---------------------------------------
--------- LOGIN END -------------
--------------------------------------
*/

/*
---------------------------------------
--------- REGISTER START -------------
---------------------------------------
*/

.register {
    background-color: 	#f4f4f4;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 50%;
    transform: translate(-50%, 0px);
    color: #373737;
    -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
}


.submit-button {
    padding-bottom: 10px;
}

/*
---------------------------------------
--------- REGISTER END -------------
---------------------------------------
*/

/*
---------------------------------------
--------- SERVICE START -------------
---------------------------------------
*/

.service-table {
    margin: 5% 5% 5% 5%;
    -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
}

.service-table-head {
    background-color: #373737;
    color:#f4f4f4;
}


tbody tr:nth-child(even) {
    background-color: 	#D3D3D3;
}

tbody tr:hover {
    background-color: 	#686868;
    color:#f4f4f4;

}

.service-row {
    vertical-align: middle !important;
}

.order-service {
    margin: 5% 20% 5% 20%;
    color: #2f2f2f;
    padding: 3% 3% 3% 3%;
    -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
}

.small-box {
    margin-right: 60%;
}

.medium-box {
    margin-right: 30%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.customer-submit {
    padding-top: 5%;
    padding-bottom: 2%;
}

.hours-box {
    margin-right: 80%;
}

.date-box {
    margin-right: 50%;
}

.error-order-div {
    margin-top: 2%;
}

.facturation-submit {
    padding-top: 5%;
    padding-bottom: 2%;
}

.error-facturation-div {
    margin-top: 2%;
}
/*
---------------------------------------
--------- SERVICE END -------------
---------------------------------------
*/

/*
---------------------------------------
--------- CONTACT START -------------
---------------------------------------
*/

.contact-box {
    margin: 5% 5% 5% 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.service-contact   {
    font-size: 25px;
}

.service-contact  > span {
    font-weight: bold;
    color: #C00000;
}

/*
---------------------------------------
--------- CONTACT END -------------
---------------------------------------
*/

/*
---------------------------------------
--------- SHOPPING CART  START -------------
---------------------------------------
*/

.shopping-cart {
    margin: 5% 5% 5% 5%;
    color: #2f2f2f;
    padding: 3% 3% 3% 3%;
    -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
}

.shopping-image > img {
    width: 150px;
    height: 150px;
}

.shopping-cart-delete-button {
    font-size: 20px;
    text-align: center;
}

.shopping-cart-error {
    margin-bottom: 10px;
}

.cart-for-payment {
    font-size: 25px;
}

/*
---------------------------------------
--------- SHOPPING CART  END -------------
---------------------------------------
*/

/*
---------------------------------------
--------- PRODUCTS  START -------------
---------------------------------------
*/




.products {
    color: #2f2f2f;
}

.products-form {
    margin-top: 5%;
    margin-bottom: 2%;
}

.product-item {
    width: 400px;
    display: inline-block;
    color: #2f2f2f;
    margin: 2% 2% 2% 2%;
    padding: 2% 2% 2% 2%;
    border: 2px solid #ccc;
}

@media only screen and (max-width: 900px) {
    .product-item {
        margin-left: 50%;
        transform: translate(-50%);
    }

    .product-quantity-box {
        margin-left: 30%;
        margin-right: 30%;
    }
}

.products-image{
    width: 100%;
    height: 300px;
}

.product-name {
    padding: 5% 2% 2% 2%;
}

.products-row {
    margin-left: 3%;
    margin-right: 3%;
}

.product-item-to-cart {
    margin-top: 4%;
}

.error-product-quantity {
    color: red;
    display:none;
}

.product-out-of-stock{
    color: red;
}

/*
---------------------------------------
--------- PRODUCTS  END -------------
---------------------------------------
*/

/*
---------------------------------------
--------- ADMINISTRTION BODY  START -------------
---------------------------------------
 */

/* SIDEBAR START */

.dropdown-admin li {
    background-color: #D3D3D3;
}

.sidebar {
    background-color: #2f2f2f;
    margin-top: 5%;
    margin-bottom: 5%;
}

.sidebar a {
    padding: 2% 2% 2% 5%;
    text-decoration: none;
    font-size: 20px;
    color: #D3D3D3;
    display: block;
}


.sidebar ul {
    list-style: none;
}

.sidebar a:hover,
.sidebar a:focus,
.sidebar a:active {
    color: #2f2f2f;
    background-color: #D3D3D3;
}


@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 15px;}
}

.row-admin {
    width: 100%;
}


/* SIDEBAR END*/

/* ADMIN BODY START */

.admin-body {
    color: #2f2f2f;
}



/* ADMIN BODY END */

/*
---------------------------------------
--------- ADMINISTRTION BODY  END -------------
---------------------------------------
 */